{% for idea in ideas %}

<div class="idea">
    <img src="{{idea.image}}" alt="{{idea.title}}">
    <div class="content">
        <h3>{{idea.title}}</h3>
        <p>{{idea.category}}</p>
        <div class="description">
            {{idea.description}}
        </div>
        <div class="separa">
            <a href="{{idea.link}}">Ir para ideia</a>
            <a class="button" href="/ideias/{{idea.id}}/delete" onclick="deleteIdea()"><img src="images/delete.svg" alt=""></a>
        </div>
    </div>
</div>

{% endfor %}