{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title %}
<title>Ideias - Casa Criativa</title>
{% endblock title %}

{% block content %}

<header>
    <a href="/">
        <img src="images/logo.png" alt="">
    </a>
    <nav>
        <li><a href="/">Inicio</a></li>
        <li><a href="">Ideias</a></li>
        <li><a href="#" onclick="onOff()" class="fat">Nova Ideia</a></li>
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
        </div>
    </nav>
</header>

<section id="title">
    <p>em exibição</p>
    <h1>ideias</h1>
</section>

<main>
    <section id="ideas">
        {% include "all_ideas.html" %}
    </section>
</main>

<footer>
    Com ♥️ <a href="http://rocketseat.com.br">Rocketseat</a>
</footer>

{% endblock %}

{% include "modal.html" %}